In [10]:
## Python + SQL: GABARITO COM CRIAÇÃO DE BANCO DE DADOS Hypera.db by Ivan Raphael Albarello 28 de Maio de 2024

import sqlite3
import pandas as pd

# Conectar ao banco de dados SQLite
conn = sqlite3.connect('Hypera.db')

# Carregar os dados do Excel
excel_file = 'Hypera.xlsx'
fato_df = pd.read_excel(excel_file, sheet_name='FATO')
loja_df = pd.read_excel(excel_file, sheet_name='LOJA')
produto_df = pd.read_excel(excel_file, sheet_name='PRODUTO')

# Escrever os DataFrames para tabelas SQLite
fato_df.to_sql('PRODUTO', conn, if_exists='replace', index=False)
loja_df.to_sql('LOJA', conn, if_exists='replace', index=False)
produto_df.to_sql('PRODUTO', conn, if_exists='replace', index=False)

10

In [28]:
import pandas as pd
import sqlite3

# Criar o DataFrame com os dados fornecidos
data = {
    'CODIGO_PRODUTO': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'CNPJ_LOJA': [
        '12345678000101', '12345678000102', '12345678000103',
        '12345678000104', '12345678000105', '12345678000101',
        '12345678000102', '12345678000103', '12345678000104',
        '12345678000105'
    ],
    'PERIODO': [
        202401, 202401, 202402, 202402, 202403,
        202403, 202404, 202404, 202405, 202405
    ],
    'VOLUME': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550],
    'VALOR_R$': [500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750]
}

df = pd.DataFrame(data)

# Conectar ao banco de dados SQLite (ou criar um novo banco de dados)
conn = sqlite3.connect('Hypera.db')

# Escrever o DataFrame para uma tabela SQLite
df.to_sql('FATO', conn, if_exists='replace', index=False)

10

In [29]:
#A. Quais os 3 produtos com maior faturamento no ano de 2024:

query = """
SELECT CODIGO_PRODUTO, SUM(VALOR_R$) AS FATURAMENTO_TOTAL
FROM FATO
WHERE PERIODO BETWEEN 202401 AND 202412
GROUP BY CODIGO_PRODUTO
ORDER BY FATURAMENTO_TOTAL DESC
LIMIT 3;
"""

# Executar a consulta e obter os resultados
result = pd.read_sql_query(query, conn)

# Fechar a conexão com o banco de dados
conn.close()

# Exibir os resultados
print(result)

   CODIGO_PRODUTO  FATURAMENTO_TOTAL
0              10               2750
1               9               2500
2               8               2250

In [45]:
import pandas as pd
import sqlite3

# Criar o DataFrame com os dados fornecidos
data = {
    'CNPJ': [
        '12345678000101', '12345678000102', '12345678000103',
        '12345678000104', '12345678000105', '12345678000106',
        '12345678000107', '12345678000108', '12345678000109',
        '12345678000110'
    ],
    'CLIENTE': [
        'Cliente A', 'Cliente B', 'Cliente C', 'Cliente D', 'Cliente E',
        'Cliente F', 'Cliente G', 'Cliente H', 'Cliente I', 'Cliente J'
    ],
    'ASSOCIACAO': [
        'Assoc1', 'Assoc2', 'Assoc1', 'Assoc3', 'Assoc2',
        'Assoc1', 'Assoc3', 'Assoc2', 'Assoc1', 'Assoc3'
    ],
    'ATIVO_S_N': ['S', 'S', 'S', 'S', 'S', 'N', 'S', 'N', 'S', 'S'],
    'UF': ['SP', 'RJ', 'MG', 'BA', 'PR', 'SC', 'RS', 'PE', 'GO', 'ES']
}

df = pd.DataFrame(data)

# Conectar ao banco de dados SQLite (ou criar um novo banco de dados)
conn = sqlite3.connect('Hypera.db')

# Escrever o DataFrame para uma tabela SQLite
df.to_sql('PRODUTO', conn, if_exists='replace', index=False)

10

In [46]:
# B. Quais as quantidades de Clientes ativos em "SP" na tabela loja:
query = """
SELECT COUNT(*) AS clientes_ativos
FROM LOJA
WHERE UF = 'SP' AND ATIVO_S_N = 'S';
"""

# Executar a consulta e obter os resultados
result = pd.read_sql_query(query, conn)

# Fechar a conexão com o banco de dados
conn.close()

# Exibir os resultados
print(result)

   clientes_ativos
0                1

In [47]:
# C. Quais as quantidades/Volume de produto promovidos *(s) com vendas no último mês 03 de 2024:


import pandas as pd
import sqlite3

# Dados das tabelas
data_produto = {
    'CODIGO': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'DESCRICAO': ['Dipirona', 'Paracetamol', 'Ibuprofeno', 'Omeprazol', 'Simeticona', 'Loratadina', 'Cetirizina', 'Ácido Acetilsalicílico', 'Ranitidina', 'Dimenidrinato'],
    'CATEGORIA': ['Analgésico', 'Analgésico', 'Anti-inflamatório', 'Antiácido', 'Antiflatulento', 'Antialérgico', 'Antialérgico', 'Anti-inflamatório', 'Antiácido', 'Antiemético'],
    'ATIVO_S_N': ['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S'],
    'PROMOVIDO_S_N': ['N', 'N', 'N', 'N', 'N', 'S', 'N', 'N', 'N', 'N']
}

data_fato = {
    'CODIGO_PRODUTO': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'CNPJ_LOJA': ['12345678000101', '12345678000102', '12345678000103', '12345678000104', '12345678000105', '12345678000101', '12345678000102', '12345678000103', '12345678000104', '12345678000105'],
    'PERIODO': [202401, 202401, 202402, 202402, 202403, 202403, 202403, 202404, 202404, 202405],
    'VOLUME': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550],
    'VALOR_R$': [500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750]
}

# Criar DataFrames
df_produto = pd.DataFrame(data_produto)
df_fato = pd.DataFrame(data_fato)

# Conectar ao banco de dados SQLite (na memória)
conn = sqlite3.connect(':memory:')

# Carregar os DataFrames no banco de dados SQLite
df_produto.to_sql('produto', conn, index=False, if_exists='replace')
df_fato.to_sql('fato', conn, index=False, if_exists='replace')

# Query SQL para encontrar as quantidades de produtos promovidos com vendas no mês 03 de 2024
query = """
SELECT 
    p.CODIGO, 
    p.DESCRICAO, 
    SUM(f.Volume) as TOTAL_VOLUME
    
FROM 
    produto p
JOIN 
    fato f
ON 
    p.CODIGO = f.CODIGO_PRODUTO
WHERE 
    p.PROMOVIDO_S_N = 'S' 
    AND f.PERIODO = 202403
GROUP BY 
    p.CODIGO, 
    p.DESCRICAO
"""

# Executar a query e obter o resultado em um DataFrame
result = pd.read_sql_query(query, conn)

# Fechar a conexão
conn.close()

# Exibir o resultado
print(result)

   CODIGO   DESCRICAO  TOTAL_VOLUME
0       6  Loratadina           350

In [48]:
#D. Quais são as 10 lojas com maior faturamento no ano de 2024:

import pandas as pd
import sqlite3

# Dados da tabela FATO atualizada
data_fato = {
    'CODIGO_PRODUTO': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'CNPJ_LOJA': ['12345678000101', '12345678000102', '12345678000103', '12345678000104', '12345678000105', '12345678000101', '12345678000102', '12345678000103', '12345678000104', '12345678000105'],
    'PERIODO': [202401, 202401, 202402, 202402, 202403, 202403, 202303, 202304, 202305, 202305],
    'VOLUME': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550],
    'VALOR_R$': [500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750]
}

# Criar DataFrame
df_fato = pd.DataFrame(data_fato)

# Adicionar coluna de faturamento total
df_fato['FATURAMENTO_TOTAL'] = df_fato['VOLUME'] * df_fato['VALOR_R$']

# Conectar ao banco de dados SQLite (na memória)
conn = sqlite3.connect(':memory:')

# Carregar o DataFrame no banco de dados SQLite
df_fato.to_sql('fato', conn, index=False, if_exists='replace')

# Query SQL para encontrar as 10 lojas com maior faturamento no ano de 2024
query = """
SELECT 
    CNPJ_LOJA, 
    SUM(FATURAMENTO_TOTAL) as TOTAL_FATURAMENTO
FROM 
    fato
WHERE 
    PERIODO >= 202401 AND PERIODO <= 202412
GROUP BY 
    CNPJ_LOJA
ORDER BY 
    TOTAL_FATURAMENTO DESC
LIMIT 10
"""

# Executar a query e obter o resultado em um DataFrame
result = pd.read_sql_query(query, conn)

# Fechar a conexão
conn.close()

# Exibir o resultado
print(result)

        CNPJ_LOJA  TOTAL_FATURAMENTO
0  12345678000101             662500
1  12345678000105             450000
2  12345678000104             312500
3  12345678000103             200000
4  12345678000102             112500

In [51]:
#E. Qual o total de vendas mensais por categoria:
import sqlite3

# Cria e conecta ao banco de dados SQLite em memória
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Cria a tabela PRODUTO
cursor.execute('''
CREATE TABLE PRODUTO (
    CODIGO INTEGER PRIMARY KEY,
    DESCRICAO TEXT,
    CATEGORIA TEXT,
    ATIVO_S_N TEXT,
    PROMOVIDO_S_N TEXT
)
''')

# Cria a tabela FATO
cursor.execute('''
CREATE TABLE FATO (
    CODIGO_PRODUTO INTEGER,
    CNPJ_LOJA TEXT,
    PERIODO INTEGER,
    VOLUME INTEGER,
    VALOR_RS REAL,
    FOREIGN KEY (CODIGO_PRODUTO) REFERENCES PRODUTO (CODIGO)
)
''')

# Insere os dados na tabela PRODUTO
produtos = [
    (1, 'Dipirona', 'Analgésico', 'S', 'N'),
    (2, 'Paracetamol', 'Analgésico', 'S', 'S'),
    (3, 'Ibuprofeno', 'Anti-inflamatório', 'S', 'N'),
    (4, 'Omeprazol', 'Antiácido', 'S', 'S'),
    (5, 'Simeticona', 'Antiflatulento', 'S', 'N'),
    (6, 'Loratadina', 'Antialérgico', 'S', 'S'),
    (7, 'Cetirizina', 'Antialérgico', 'S', 'S'),
    (8, 'Ácido Acetilsalicílico', 'Anti-inflamatório', 'S', 'S'),
    (9, 'Ranitidina', 'Antiácido', 'S', 'N'),
    (10, 'Dimenidrato', 'Antiemético', 'S', 'S')
]

cursor.executemany('''
INSERT INTO PRODUTO (CODIGO, DESCRICAO, CATEGORIA, ATIVO_S_N, PROMOVIDO_S_N)
VALUES (?, ?, ?, ?, ?)
''', produtos)

# Insere os dados na tabela FATO
fatos = [
    (1, '12345678000101', 202401, 100, 500),
    (2, '12345678000102', 202401, 150, 750),
    (3, '12345678000103', 202402, 200, 1000),
    (4, '12345678000104', 202402, 250, 1250),
    (5, '12345678000105', 202403, 300, 1500),
    (6, '12345678000101', 202403, 350, 1750),
    (7, '12345678000102', 202404, 400, 2000),
    (8, '12345678000103', 202404, 450, 2250),
    (9, '12345678000104', 202305, 500, 2500),
    (10, '12345678000105', 202305, 550, 2750)
]

cursor.executemany('''
INSERT INTO FATO (CODIGO_PRODUTO, CNPJ_LOJA, PERIODO, VOLUME, VALOR_RS)
VALUES (?, ?, ?, ?, ?)
''', fatos)

# Consulta SQL para calcular o total de vendas (VALOR_RS) por categoria em cada ano/mês
query = '''
SELECT 
    strftime('%Y-%m', substr(f.PERIODO, 1, 6)) AS ANO_MES,
    p.CATEGORIA,
    SUM(f.VALOR_RS) AS TOTAL_VENDAS
FROM FATO f
JOIN PRODUTO p ON f.CODIGO_PRODUTO = p.CODIGO
GROUP BY ANO_MES, p.CATEGORIA
ORDER BY ANO_MES, p.CATEGORIA
'''

# Executa a consulta
cursor.execute(query)

# Exibe os resultados
resultados = cursor.fetchall()
for linha in resultados:
    print(linha)

# Fecha a conexão com o banco de dados
conn.close()

('-4158-01', 'Analgésico', 1250.0)
('-4158-01', 'Anti-inflamatório', 3250.0)
('-4158-01', 'Antialérgico', 3750.0)
('-4158-01', 'Antiflatulento', 1500.0)
('-4158-01', 'Antiácido', 1250.0)
('-4159-10', 'Antiemético', 2750.0)
('-4159-10', 'Antiácido', 2500.0)